<div class="account-card">
    <div class="accounts">
        <div class="account" *ngFor="let account of wallet.getAccounts()" (click)="manageAccount(account)">
            <div class="account-inner">
                <div>
                    <div class="account-name">
                        <fa-icon *ngIf="account.watchOnly" icon="search"></fa-icon>
                        <fa-icon *ngIf="!account.watchOnly" icon="wallet"></fa-icon>
                        <h5>{{account.name}}</h5>
                    </div>
                    <h6 class="account-balance">
                        {{currencyService.convert(account.balance)}}
                        <span>{{currencyService.currency}}</span>
                    </h6>
                    <h6 class="account-address">{{account.address}}</h6>
                </div>
                <div class="account-identicon">
                    <canvas identicon-canvas width="50" height="50" title='{{account.identicon}}'></canvas>
                </div>
            </div>
            <div class="wave"></div>
        </div>
    </div>
</div>
