$color-primary:#CDCDCD;
$color-accent:#BA55D3;
$color-success:#28a745;
$color-danger:#dc3545;
$font-primary:#CDCDCD;
$background-primary:#250125;
$background-accent:rgb(10, 10, 10);
$content-background:#101010;

$navbar-color:#000000;
$veles-orange:#F19B7E;
$veles-brown:#E4B99C;
$veles-grey:rgba(100, 100, 100, 0.3);
$veles-content-background:rgba(38, 38, 38, 0.7);
$veles-transaction-border:rgba(228, 185, 156, 0.2);

$sidebar-width:210px;
$appbar-width:60px;
$sidebar-padding:($sidebar-width+$appbar-width);